*~
*.bck
bin
build
_build
.coverage
coverage*
develop-eggs
dist
downloads
*.egg
*.EGG
*.egg-info
*.EGG-INFO
eggs
fake-eggs
.installed.cfg
*.jar
*.log
*.mo
.mr.developer.cfg
nosetest*
*.old
*.orig
parts
*.pyc
*.pyd
*.pyo
*.so
src
.svn
*.swp
.tox
*.tmp*
var
*.wpr
s3g
pyserial
conveyor
