This tool will try to automatically set up air print detection but it will need your help. It will try to detect where the artefact is and use that position as reference for future detections. A yellow contour should appear around the artefact which will mean the setting was a success. If that is not the case, please retry.
<div>
Tip: Adding more light to the room or directly pointing a light source (flash-light, lamp...) onto the artefact might help the detection in some cases. The default star template should be detected just fine without any additional liht sources.
<div>
<img src="/static/{{file}}" />
<div>
%print(file)
<a class="btn btn-mini btn-primary" href="/printviewer">OK</a>
<a class="btn btn-mini btn-primary" href="/apsetup">Redetect</a>
%rebase layout ng=ng
<div>
Click [OK] to keep the current configuration and [Redetect] to try again.
<div>