<fieldset ng-show="!idle()">
  <legend>Jobs</legend>
  <ul>
    <li ng-repeat="job in jobs">
      <span>{{ng("job.name")}}</span>
      <span ng-show="job.state == 'RUNNING'" class="btn btn-small btn-success">{{ng("job.type")}} {{ng("job.state")}}</span>
      <span ng-show="job.state != 'RUNNING'" class="btn btn-small btn-inverse">{{ng("job.type")}} {{ng("job.state")}}</span>
      <pre style="display:none">{{ng("job")}}</span>
    </li>
  </ul>
</fieldset>
<br>
<fieldset>
  <legend>{{ng("files.length")}} Files</legend>
  <ul >
    <li ng-repeat="file in files">
    <span>{{ng("file.name")}}</span>
    <span ng-show="idle()">
      <a class="btn btn-mini btn-primary" href="{{ng("file.print_url")}}">print</a>
      <a class="btn btn-mini btn-danger" href="{{ng("file.delete_url")}}">delete</a>
    </span>
    </li>
  </ul>
  <br>
  <span class="btn btn-success fileinput-button">
      <i class="icon-plus icon-white"></i>
      <span>Add new file...</span>
      <!-- The file input field used as target for the file upload widget -->
      <input id="fileupload" type="file" name="file" multiple>
  </span>
  <br>
  <br>
  <!-- The global progress bar -->
  <div id="progress" class="progress progress-success progress-striped">
      <div class="bar"></div>
  </div>
</fieldset>
%rebase layout ng=ng
